@section style {
<!-- DataTables -->
<link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<!-- daterange picker -->
<link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker.css">
}

@section scripts {
<!-- DataTables  & Plugins -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/plugins/jszip/jszip.min.js"></script>
<script src="/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- jquery-validation -->
<script src="/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/plugins/jquery-validation/additional-methods.min.js"></script>
<!-- InputMask -->
<script src="/plugins/moment/moment.min.js"></script>
<script src="/plugins/inputmask/jquery.inputmask.min.js"></script>
<!-- thư viện tỉnh thành huyện  -->
<script src='https://cdn.jsdelivr.net/gh/vietblogdao/js/districts.min.js'></script>
<script type="module" src="/js/BangNguoiDung.js"></script>
<partial name="_ValidationScriptsPartial" />
}


<div class="d-flex justify-content-end">
    <button id="nut-them" type="button" class="btn btn-primary mt-3 mb-2" data-toggle="modal" data-target="#modal-lg">
        Thêm mới
    </button>
</div>


@{
    var a = new Rez.Models.Nguoi()
    {
        SoYeuLyLich = new()
        {
            ChoOHienNay = new()
            {
                
            }
        }
    };
}
<partial name="TatCa.ModalForm" model="new Rez.Models.Nguoi() {SoYeuLyLich = new Rez.Models.SoYeuLyLich.SoYeuLyLich()}" />

<!-- Model thông báo xóa  -->
<div class="modal fade" id="modal-warning">
    <div class="modal-dialog">
        <div class="modal-content bg-warning">
            <div class="modal-header">
                <h4 class="modal-title">Thông báo</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Dữ liệu sẽ bị xóa vĩnh viễn&hellip;</p>
                <p>Bạn có muốn tiếp tục?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-outline-dark">Tiếp tục</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Bảng danh sách danh người dùng hệ thống</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Họ tên</th>
                    <th>Tài khoản</th>
                    <th>Phân loại</th>
                    <th>Ngày tạo</th>
                    <th>Người tạo</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Phan Thành Toại</td>
                    <td>phanthanhtoai</td>
                    <td>Admin</td>
                    <td>22:10:43 17/09/2022</td>
                    <td>Phan Thành Toại</td>
                    <td>
                        <i data-toggle="modal" data-target="#modal-lg" class="fas fa-pencil-alt p-1 mr-2" title="Sửa"></i>
                        <i data-toggle="modal" data-target="#modal-warning" class="fas fa-trash-alt p-1" title="Xóa"></i>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Nguyễn Thị Anh</td>
                    <td>nguyenthianh</td>
                    <td>Giáo viên</td>
                    <td>21:10:43 17/08/2022</td>
                    <td>Phan Thành Toại</td>
                    <td>
                        <i class="fas fa-pencil-alt p-1 mr-2" title="Sửa"></i>
                        <i data-toggle="modal" data-target="#modal-warning" class="fas fa-trash-alt p-1" title="Xóa"></i>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Lê Việt Hoàn</td>
                    <td>leviethoan</td>
                    <td>Học sinh</td>
                    <td>20:10:43 16/08/2022</td>
                    <td>Phan Thành Toại</td>
                    <td>
                        <i class="fas fa-pencil-alt p-1 mr-2" title="Sửa"></i>
                        <i data-toggle="modal" data-target="#modal-warning" class="fas fa-trash-alt p-1" title="Xóa"></i>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Trần Thành Trung</td>
                    <td>tranthanhtrung</td>
                    <td>Học sinh</td>
                    <td>19:10:43 15/08/2022</td>
                    <td>Phan Thành Toại</td>
                    <td>
                        <i class="fas fa-pencil-alt p-1 mr-2" title="Sửa"></i>
                        <i data-toggle="modal" data-target="#modal-warning" class="fas fa-trash-alt p-1" title="Xóa"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>